@font-face {
  font-family: "Andy";
  src: url(assets/fonts/andy_bold.ttf);
}

* {
  font-family: "Andy", system-font;
  margin: 0;
  padding: 0;
  --purple: #9D70EB;
  --bright-purple: #caaefc;
  --blue: #B5FFFF;
  --pink: #FFADFF;
  --green: #85ed65;
  --red: #ef5368;
  --yellow: #f2ef65;
}

body {
  color: #fff;
  background: repeat url("assets/aether.gif");
  
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#intro {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}

@keyframes text-glint {
  0% {
    text-shadow: none;
  }
  5% {
    text-shadow: 1px 0 0 var(--bright-purple);
  }
  10% {
    text-shadow: 0 1px 0 var(--bright-purple);
  }
  15% {
    text-shadow: -1px 0 0 var(--bright-purple);
  }
  20% {
    text-shadow: 0 -1px 0 var(--bright-purple);
  }
  25% {
    text-shadow: none;
  }
}

#intro h1 {
  font-size: 6em;
  color: var(--purple);
  animation: 6s ease-out 0.25s infinite text-glint;
}

#intro p {
  font-size: 2em;
  padding-left: 12px;
  transform: translateY(-1em);
}

.searcher {
  width: 90dvw;
  height: fit-content;
  background: #fff;
}

#searcher-input {
  width: 100%;
  height: 2.1rem;
  background: #222;
  color: #fff;
  font-size: 2rem;
  padding: 10px 12px;
}

#searcher-picker {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

  background: #000;
}

.picker-item {
  min-width: 12rem;
  border-radius: 0;
  text-align: start;
  font-size: 1.9em;
  padding: 2px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.selected-item {
  background: #444;
}

.picker-item:not(.selected-item) {
  background: #111;
}

.picker-item:hover {
  background: #555;
  cursor: pointer;
}

.picker-item img {
  max-width: 50px;
  max-height: 50px;
  padding: 4px;
  margin-bottom: 2px;

  border-bottom: 4px solid var(--purple);
}

#guesses {
  width: 98dvw;

  margin: 120px 0;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

#guesses-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: var(--purple);
}

#guess-none {
  width: 100%;
  font-size: 3em;
  text-align: center;
  padding: 3rem 0;
}

.guess:hover {
  background: #222;
}

.guess-cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.guess-image {
  width: 8%;
  justify-items: center;
  padding: 4px 0;
}

.guess-image img {
  max-width: 60px;
  max-height: 60px;
}

.guess-correct {
  border-bottom: 4px solid var(--green);
}

.guess-wrong {
  border-bottom: 4px solid var(--red);
}

.guess-defence {
  width: 6%;
}

.guess-life {
  width: 7%;
}

.guess-coins {
  width: 12%;
}

.guess-biomes {
  width: 16%;
}

.guess-events {
  width: 16%;
}

.guess-layers {
  width: 23%;
}

.guess-rarity {
  width: 8%;
}

.guess {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.guess-group {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.coloured {
  color: #fff;
  text-shadow: 0 0 1px var(--blue);
  padding: 4px 6px;
  text-align: center;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-radius: 0;
  background: #000;
}

.coloured-red {
  border-color: var(--red);
}

.coloured-yellow {
  border-color: var(--yellow);
}

.coloured-green {
  border-color: var(--green);
}

#victory {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#victory b:not(#guesses-counter) {
  font-size: 4rem;
}

#guesses-counter {
  font-size: 2rem;
  margin-top: 12px;
}

#victory p {
  font-size: 6rem;
  color: var(--pink);
}

#victory button {
  margin-top: 4rem;
  font-size: 3rem;
  padding: 8px 3rem;
  border-radius: 0;
  color: var(--purple);
  background-color: #000;
  border: 1px solid var(--purple);
}

#victory button:hover {
  color: var(--pink);
  border-color: var(--pink);
  transition: color .3s, border-color .3s;
}

#info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 140px;
  gap: 80px;

  font-size: 2em;
}

#info p {
  background: #000;
}

#yesterday {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

#yesterday img {
  max-width: 70px;
  max-height: 70px;
  border-bottom: 4px solid var(--purple);
  padding: 6px;
}

#info #text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

a {
  color: #9D70EB;
  text-decoration: none;
}

a:hover {
  color: #FFADFF;
  transition: color .325s;
}
